.my_select{
    background-color:white;
    color: #003344;
    border-radius: 6px;
	direction:ltr
}
.my_select>fieldset{
    border: 2px solid #009ACD;
    border-radius: 6px;
}
.my_select>div{
    text-align:right
}